<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="duplexEndpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/StringService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStringService" contract="IStringService"
                name="BasicHttpBinding_IStringService" />
            <endpoint address="http://localhost:8080/NewsService" binding="wsDualHttpBinding"
                bindingConfiguration="duplexEndpoint" contract="ServiceReference1.INewsService"
                name="duplexEndpoint">
                <identity>
                    <userPrincipalName value="aleksey.ivanov@arcadia.intranet" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>